* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom right, blue, red);
  background-size: cover;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  place-content: center;
}

main {
  height: 400px;
  width: 700px;
  background-color: white;
  position: relative;
  display: grid;
  place-content: center;
}

div.images-container {
  width: 500px;
}

div.images-container > img {
  width: 100%;
}

@media (max-width: 800px) and (orientation: portrait) {
  main {
    height: 300px;
    width: 300px;
  }
}

#logo {
  max-width: 200px;
  position: absolute;
  top: 10px;
  left: 45%;
}
